

.contact-form{
    font-family: brother-1816-printed, sans-serif;
    margin:auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #343434;
    color: whitesmoke;
    height: 50%;
    text-align: center;
    min-width: 250px;
    max-width: 500px;
}

.form-element {
    text-align: left;
    padding: 10px;
}

#message {
   height: 200px;
}

input[type="text"], input[type="email"], textarea
{
    font-family: brother-1816-printed, sans-serif;
    width: 100%;
    height: 30px;
    font-size:larger;
}

input[type="submit"],input[type="reset"]
{
    color: #343434;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    font-family: brother-1816-printed, sans-serif;
    font-size: larger;
    max-width: 200px;
    text-align: center;
}

textarea{
    resize:vertical;
    height: auto;
}

input[type="submit"]:hover, input[type="reset"]:hover
{
    background-color: #F2A099;
    cursor:pointer;
}