@import url("https://use.typekit.net/dgp7jyk.css"); /* for my custom fonts*/

main {
  padding: 20px;
  padding-top: 20px;
}

.banner {
  height: 400px;
  width: auto;
  padding-top: 100px;
  min-height: 100px;
}

.checkered {
  display: none;
}

@media (max-width: 350px) {
  .shapes {
    display: none;
  }
  .banner {
    height: 110px;
  }
}

@media (min-width: 351px) and (max-width: 475px) {
  .banner {
    height: 200px;
  }

  .shapes {
    display: none;
  }
  .checkered {
    display: block;
  }
}
