@import "./pagestyle.css";


.projectBox {
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  border-radius: 20px;
  margin: 10px auto;
}

.projectBox>a {
  font-size: xx-large;
  font-style: italic;
  color: var(--salmon);
}

.projectBox>a:hover {
  color: var(--white);
}